# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Docker
docker-compose.override.yml
.dockerignore


# Environment variables

.env.local
.env.development.local
.env.test.local
.env.production.local

# Certificates and private keys
*.key
*.crt
*.pem

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.swp

# Build artifacts
dist/
coverage/
